.header {
}

.navContainer {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: auto;
  padding: 20px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .navContainer {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: auto;
    gap: 268px;
    padding: 20px 64px 0;
  }
}

.leftSlide {
  display: flex;
  align-items: center;
  height: 28px;
  gap: 390px;
}

.logo {
  display: flex;
  align-items: center;
  gap: 8px;
  text-decoration: none;
  cursor: pointer;
}

.textHeader {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: -0.02em;
  color: #121417;
}

.nav {
  display: none;
  gap: 28px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
}

.link {
  color: #101828;
  text-decoration: none;
  transition: color 0.3s;
}

.link:hover {
  color: #f4c550;
}

.active {
  color: #f4c550;
}

.btnContainer {
  display: flex;
  gap: 16px;
  align-items: center;
}

.iconLogIn {
  stroke: #f4c550;
  fill: none;
  margin-right: 8px;
}

.btnLogIn {
  display: none;
  border: none;
  background-color: transparent;
  padding: 0;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #121417;
  cursor: pointer;
  align-items: center;
  outline: none;
}

.btnRegistration {
  display: none;
  border-radius: 12px;
  padding: 14px 39px;
  width: 166px;
  height: 48px;
  background: #121417;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 125%;
  color: #fff;
  border: none;
  cursor: pointer;
  outline: none;
}

.btnRegistration:hover {
  background: #65696f;
}

.btnBburger {
  display: block;
  border: none;
  background-color: transparent;
}

.iconBurger {
  fill: none;
  stroke: #101828;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .btnBburger {
    display: none;
  }

  .btnLogIn {
    display: flex;
  }

  .btnRegistration {
    display: block;
  }

  .nav {
    display: flex;
  }
}
