.section {
  max-width: 100%;
  height: auto;
  padding: 20px;
  margin: 0 auto;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .section {
    max-width: 1440px;
    height: 790px;
    padding: 20px 64px;
  }
}

.sectionContainer {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

@media screen and (min-width: 1024px) {
  .sectionContainer {
    justify-content: space-between;
  }
}

.textContainer {
  width: 100%;
  height: auto;
  padding: 30px 24px;
  border-radius: 20px;
  background: #f8f8f8;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  text-align: center;
}

@media screen and (min-width: 768px) {
  .textContainer {
    border-radius: 30px;
    width: 420px;
    height: auto;
    text-align: unset;
  }
}

@media screen and (min-width: 1024px) {
  .textContainer {
    width: 520px;
  }
}

@media screen and (min-width: 1440px) {
  .textContainer {
    border-radius: 30px;
    width: 720px;
    height: 530px;
    padding: 98px 64px;
    text-align: unset;
  }
}

.article {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 117%;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 24px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .article {
    font-size: 48px;
    margin-bottom: 32px;
  }
}

.text {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 137%;
  letter-spacing: -0.02em;
  color: #121417;
  margin-bottom: 32px;
  width: 471px;
}

@media screen and (min-width: 768px) {
  .text {
    margin-bottom: 64px;
    width: 471px;
  }
}

@media screen and (min-width: 1440px) {
  .text {
    margin-bottom: 64px;
    width: 471px;
  }
}

.span {
  font-family: var(--font-family);
  position: relative;
  display: inline-block;
  font-style: italic;
  font-weight: 400;
  z-index: 1;
}

.span::before {
  content: '';
  position: absolute;
  bottom: 0;
  left: -4%;
  width: 100px;
  height: 20px;
  background: #fbe9ba;
  border-radius: 8px;
  z-index: -1;
}

@media screen and (min-width: 768px) {
  .span::before {
    left: -3%;
    width: 100px;
  }
}

@media screen and (min-width: 1440px) {
  .span::before {
    width: 195px;
    height: 40px;
  }
}

.btn {
  border-radius: 12px;
  padding: 16px 60px;
  width: 272px;
  height: 60px;
  background: #f4c550;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  border: none;
  cursor: pointer;
  text-decoration: none;
  text-align: center;
}

.btn:hover {
  background: #ffdc86;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .btn {
    padding: 16px 88px;
  }
}

.container {
  width: 100%;
  height: 300px;
  border-radius: 20px;
  background-color: #fbe9ba;
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .container {
    width: 280px;
    height: auto;
  }
}

@media screen and (min-width: 1024px) {
  .container {
    width: 380px;
  }
}

@media screen and (min-width: 1440px) {
  .container {
    border-radius: 30px;
    width: 568px;
    height: 530px;
  }
}

.imgFace {
  width: 220px;
  height: 220px;
  position: absolute;
  top: 0px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 1;
}

@media screen and (min-width: 768px) {
  .imgFace {
    top: 50px;
  }
}

@media screen and (min-width: 1024px) {
  .imgFace {
    top: 30px;
  }
}

@media screen and (min-width: 1440px) {
  .imgFace {
    width: 339px;
    height: 339px;
    top: 80px;
  }
}

.imgImac {
  width: 240px;
  height: 120px;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translateX(-50%);
  z-index: 2;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .imgImac {
    width: 359px;
    height: 176px;
  }
}

.infoContainer {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  background: #fff;
  gap: 16px;
  height: auto;
  padding: 24px;
  width: 100%;
  box-sizing: border-box;
  overflow: hidden;
}

@media screen and (min-width: 768px) {
  .infoContainer {
    justify-content: space-between;
    flex-direction: unset;
  }
}

@media screen and (min-width: 1440px) {
  .infoContainer {
    padding: 40px 122px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-direction: unset;
  }
}

.borderSvg {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  fill: none;
}

.borderRect {
  width: 100%;
  height: 230px;
  fill: none;
  stroke: #f4c550;
  stroke-width: 2;
  stroke-dasharray: 6 4;
}

@media screen and (min-width: 768px) {
  .borderRect {
    height: 80px;
    stroke-width: 2;
    stroke-dasharray: 12 6;
  }
}

@media screen and (min-width: 1440px) {
  .borderRect {
    width: 1312px;
    height: 116px;
    stroke-width: 2;
    stroke-dasharray: 20 10;
  }
}

.textInfo {
  display: flex;
  align-items: center;
  justify-content: center;
  width: auto;
  height: 36px;
  gap: 16px;
}

@media screen and (min-width: 768px) {
  .textInfo {
    gap: 10px;
  }
}

@media screen and (min-width: 1440px) {
  .textInfo {
    gap: 16px;
  }
}

.textNumber {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 28px;
  line-height: 114%;
  letter-spacing: -0.02em;
  color: #121417;
}

@media screen and (min-width: 768px) {
  .textNumber {
    font-size: 18px;
  }
}

@media screen and (min-width: 1440px) {
  .textNumber {
    font-size: 28px;
  }
}

.textDescription {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 129%;
  letter-spacing: -0.02em;
  color: rgba(18, 20, 23, 0.7);
  width: 76px;
}

/* ?  Loader */

.loaderWrapper {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  background: rgba(255, 255, 255, 0.6);
  z-index: 9999;
}

.loader {
  width: 50px;
  aspect-ratio: 1;
  border-radius: 50%;
  border: 8px solid lightblue;
  border-right-color: #f4c550;
  animation: l2 1s infinite linear;
}
@keyframes l2 {
  to {
    transform: rotate(1turn);
  }
}
