.imgBorder {
  flex-shrink: 0;
  border: 3px solid #fbe9ba;
  border-radius: 100px;
  width: 120px;
  height: 120px;
  background: #fff;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
}

.image {
  border-radius: 100px;
  width: 96px;
  height: 96px;
  position: absolute;
}

.statusSvg {
  position: absolute;
  top: 18px;
  right: 18px;
  width: 12px;
  height: 12px;
  background: #fff;
  border-radius: 50%;
  pointer-events: none;
}

.divContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  margin-left: 0;
  gap: 16px;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .divContainer {
    display: flex;
    flex-direction: column;
    margin-left: 48px;
    gap: 32px;
    align-items: flex-start;
    width: 100%;
  }
}

.textContainer {
  display: flex;
  flex-direction: column;
  text-align: center;
  gap: 8px;
  width: 100%;
}

@media screen and (min-width: 768px) {
  .textContainer {
    flex-direction: row;
    text-align: unset;
  }
}

@media screen and (min-width: 1440px) {
  .textContainer {
    gap: 0;
  }
}

.divName {
  width: auto;
  height: 56px;

  white-space: nowrap;
}

.textLang {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
}

.title {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 24px;
  line-height: 100%;
  color: #121417;
}

.contentContainer {
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
}

@media screen and (min-width: 768px) {
  .contentContainer {
    display: flex;
    flex-direction: row;
    width: auto;
    margin-left: auto;
  }
}

.infoText {
  display: flex;
  gap: 4px;
  align-items: flex-start;
  flex-direction: column;
}

@media screen and (min-width: 768px) {
  .infoText {
    display: grid;
    grid-template-columns: repeat(2, auto);
    grid-auto-rows: auto;
    column-gap: 40px; /* відстань між стовпцями */
    row-gap: 8px; /* відстань між рядками */
    align-items: center;
    margin-right: 32px;
  }
}

@media screen and (min-width: 1440px) {
  .infoText {
    display: flex;
    gap: 4px;
    align-items: center;
    flex-direction: row;
    width: auto;
    height: 24px;
    margin-right: 64px;
  }
}

.bookDiv {
  display: flex;
}

.bookSvg {
  stroke-width: 1.5px;
  stroke: #000;
  width: 16px;
  height: 16px;
  margin-right: 8px;
  fill: none;
  flex-shrink: 0;
}

.onlineText {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
  line-height: 1;
}

.divider {
  display: none;
}

@media screen and (min-width: 1440px) {
  .divider {
    display: block;
    width: 1px;
    height: 16px;
    stroke-width: 1px;
    background-color: rgba(18, 20, 23, 0.2);
    margin: 4px 16px;
  }
}

.textReating {
  display: flex;
  align-items: center;
  flex-direction: row-reverse;
}

@media screen and (min-width: 768px) {
  .textReating {
    display: flex;
    align-items: center;
    flex-direction: row;
  }
}

.starSvg {
  fill: #ffc531;
  width: 16px;
  height: 16px;
  vertical-align: middle;
  margin-left: 8px;
}

@media screen and (min-width: 768px) {
  .starSvg {
    margin-right: 8px;
    margin-left: 0;
  }
}

.textLesson {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #121417;
}

.spanPrice {
  color: #38cd3e;
}

.heartBtn {
  border: none;
  background-color: transparent;
  cursor: pointer;
  padding: 0;
}

.svgHeart {
  width: 25px;
  height: 22px;
  stroke-width: 2px;
  stroke: #121417;
  fill: none;
}

.details {
  display: flex;
  flex-direction: column;
  gap: 10px;
  text-align: left;
}

@media screen and (min-width: 768px) {
}

@media screen and (min-width: 1440px) {
  .details {
    display: flex;
    flex-direction: column;
    gap: 8px;
  }
}

.detailsItem {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;

  color: #121417;
}

.label {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  color: #8a8a89;
  margin-right: 4px;
}

.underlined {
  text-decoration: underline;
  text-decoration-skip-ink: none;
}

.btnReadMore {
  font-family: var(--font-family);
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #121417;
  background-color: transparent;
  cursor: pointer;
  border: none;
  outline: none;

  padding: 0;
}

.levels {
  display: flex;
  flex-wrap: wrap;
  gap: 6px;
}

@media screen and (min-width: 1440px) {
  .levels {
    display: flex;
    justify-content: center;
    gap: 8px;
  }
}

.level {
  border: 1px solid rgba(18, 20, 23, 0.2);
  border-radius: 35px;
  padding: 8px 12px;
  width: auto;
  height: 32px;

  font-family: var(--font-family);
  font-weight: 500;
  font-size: 14px;
  line-height: 114%;
  color: #121417;
}

.activeLevel {
  background: #f4c550;
}

.btnBooking {
  border-radius: 12px;
  width: 200px;
  height: 50px;
  background: #f4c550;

  font-family: var(--font-family);
  font-weight: 700;
  font-size: 18px;
  line-height: 156%;
  color: #121417;
  border: none;
  cursor: pointer;
  outline: none;
}

.btnBooking:hover {
  background: #ffdc86;
}

@media screen and (min-width: 768px) {
  .btnBooking {
    padding: 16px 48px;
    width: 240px;
    height: 60px;
  }
}
